# The entirety of the third_party subdirectory.
# For reasons, see premake5.lua
third_party/*

# Build files
*.sln
*.vcxproj*
*.make
Makefile
*.xc*
.DS_Store

# Temporary files
bin
obj
bin-temp-obj

# Thanks, emacs
*~

# and VSCode, too
*.vs
